.sign-in-container{
    display:flex;
    flex-direction: column;
    width: 380px;

    h2 {
        margin: 10px 0px;
    }
    
    .buttons-container{
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 569px){
        width: 350px;
    }

    @media screen and (max-width: 400px){
        width: 320px;
    }
}