.category-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    row-gap: 10px;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.category-title{
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center;
  }